asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
crispy-bootstrap4==2024.1
Django==5.1
django-bootstrap4==24.3
django-crispy-forms==2.3
django-stdimage==6.0.2
djangorestframework==3.15.2
gunicorn==23.0.0
idna==3.10
packaging==24.1
pillow==10.4.0
psycopg2-binary==2.9.9
python-decouple==3.8
python-magic==0.4.27
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.1
style==1.1.0
tzdata==2024.1
update==0.0.1
urllib3==2.2.3
views==0.3
whitenoise==6.7.0
