<!-- template/adicionar_livros.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Adicionar Livro{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Adicionar Livro</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="tipo" id="shelfType" value="">
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
    <!-- Modal de escolher e adicionar livros em prateleiras -->
    <div class="modal fade" id="selectShelfModal" tabindex="-1" aria-labelledby="selectShelfModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Escolher Prateleira</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <p>Em qual prateleira você deseja adicionar o livro?</p>
                    <div class="d-flex flex-wrap justify-content-center">
                        <button class="btn btn-outline-primary select-shelf mr-3 mb-2" data-tipo="favorito">
                            <i class="bi bi-star"></i> Favoritos
                        </button>
                        <button class="btn btn-outline-success select-shelf mr-3 mb-2" data-tipo="lendo">
                            <i class="bi bi-book-half"></i> Lendo
                        </button>
                        <button class="btn btn-outline-info select-shelf mr-3 mb-2" data-tipo="vou_ler">
                            <i class="bi bi-bookmark"></i> Vou Ler
                        </button>
                        <button class="btn btn-outline-secondary select-shelf mb-2" data-tipo="lido">
                            <i class="bi bi-check2-circle"></i> Lidos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
