<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}CG.BookStore Online{% endblock %}</title>
</head>
<body>
   <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            <span class="store-name ml-2">CG.BookStore Online</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/buscar/' %}active{% endif %}" href="{% url 'buscar_livro' %}">Buscar Livro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/sobre/' %}active{% endif %}" href="{% url 'sobre' %}">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/contato/' %}active{% endif %}" href="{% url 'contato' %}">Contato</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/profile/' %}active{% endif %}" href="{% url 'profile' %}">Perfil</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/admin/' %}active{% endif %}" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/register/' %}active{% endif %}" href="{% url 'register' %}">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="{% url 'login' %}">
                            <i class="bi bi-person-circle" style="font-size: 1.4rem;"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Linha decorativa -->
    <div class="line"></div>

    <!-- Conteúdo principal -->
    <div class="container mt-4">
        {% block content %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-4 bg-dark text-white position-relative">
        <div class="container">
            <div class="row justify-content-center text-center text-md-start">
                <!-- Logo e Direitos Autorais -->
                <div class="col-md-4 mb-4 d-flex align-items-start ms-auto">
                    <img src="{% static 'images/logo.png' %}" alt="CG BookStore Logo" class="footer-logo me-3" style="max-height: 50px;">
                    <div>
                        <h5 class="fw-bold text-warning mb-1">CG BookStore</h5>
                        <p class="mb-0">© 2024 CG BookStore. Todos os direitos reservados.</p>
                    </div>
                </div>

                <!-- Links Úteis -->
                <div class="col-md-4 mb-4 ms-auto">
                    <h5 class="fw-bold text-warning">Links Úteis</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'politica_privacidade' %}" class="text-white text-decoration-none">Política de Privacidade</a></li>
                        <li><a href="{% url 'termos_uso' %}" class="text-white text-decoration-none">Termos de Uso</a></li>
                        <li><a href="{% url 'index' %}" class="text-white text-decoration-none">Inicio</a></li>
                        <li><a href="{% url 'sobre' %}" class="text-white text-decoration-none">Sobre</a></li>
                        <li><a href="{% url 'contato' %}" class="text-white text-decoration-none">Contato</a></li>
                    </ul>
                </div>

                <!-- Redes Sociais -->
                <div class="col-md-4 text-center text-md-end ms-auto">
                    <h5 class="fw-bold text-warning">Siga-nos</h5>
                    <a href="https://www.instagram.com/cg.bookstore/" target="_blank" class="mx-3 text-white">
                        <i class="bi bi-instagram" style="font-size: 1.8rem;"></i>
                    </a>
                    <a href="https://x.com/CG_BookStore" target="_blank" class="mx-3 text-white">
                        <i class="bi bi-twitter" style="font-size: 1.8rem;"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=61569188766565" target="_blank" class="mx-3 text-white">
                        <i class="bi bi-facebook" style="font-size: 1.8rem;"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer bottom text -->
        <div class="text-end small text-muted">
               Feito com ❤️ por CGVargas Informática Team.
        </div>
    </footer>
    {% block extra_js %}
        <script src="{% static 'js/register.js' %}"></script>
    {% endblock %}

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
