{% extends 'base.html' %}

{% block title %}Detalhes do Livro{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            {% if livro.imagem %}
                <img src="{{ livro.imagem }}" class="img-fluid" alt="Capa de {{ livro.titulo }}">
            {% else %}
                <img src="https://via.placeholder.com/150" class="img-fluid" alt="Imagem não disponível">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2>{{ livro.titulo }}</h2>
            <p><strong>Autor(es):</strong> {{ livro.autor }}</p>
            <p><strong>Editora:</strong> {{ livro.editora }}</p>
            <p><strong>Data de Publicação:</strong> {{ livro.data_publicacao }}</p>
            <p><strong>Descrição:</strong></p>
            <p>{{ livro.descricao|safe }}</p>
            <p><strong>ISBN:</strong> {{ livro.isbn }}</p>
            <p><strong>Número de Páginas:</strong> {{ livro.numero_paginas }}</p>
            <p><strong>Categoria:</strong> {{ livro.categoria }}</p>
            <p><strong>Idioma:</strong> {{ livro.idioma }}</p>
            <p><strong>Preço:</strong> R$ {{ livro.preco|floatformat:2 }}</p>
        </div>
    </div>
</div>
{% endblock %}
