{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <h1 class="text-center" style="margin-bottom: 90px; font-size: 4rem;">Livros em Destaque</h1>
    <div class="row">
        {% for livro in livros_destaque %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ livro.imagem.url }}" class="card-img-top" alt="Capa de {{ livro.titulo }}" style="height: 500px; width: 100%; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ livro.titulo }}</h5>
                        <p class="card-text">Autor: {{ livro.autor }}</p>
                        <p class="card-text">{{ livro.descricao|truncatewords:20 }}</p>
                        <a href="{% url 'livro_detail' livro.id %}" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h1 class="text-center" style="margin-bottom: 90px; font-size: 3rem;">Livros Mais Vendidos</h1>
    <div class="row">
        {% for livro in livros_mais_vendidos %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ livro.imagem.url }}" class="card-img-top" alt="Capa de {{ livro.titulo }}" style="height: 500px; width: 100%; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ livro.titulo }}</h5>
                        <p class="card-text">Autor: {{ livro.autor }}</p>
                        <p class="card-text">{{ livro.descricao|truncatewords:20 }}</p>
                        <a href="{% url 'livro_detail' livro.id %}" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h1 class="text-center" style="margin-bottom: 90px; font-size: 3rem;">Links Externos</h1>
    <div class="row">
        {% for url in urls_externas %}
            <div class="col-md-4 mb-4">
                <div class="card border-0" style="background-color: #F9F9F9;">
                    <img src="{{ url.imagem.url }}" class="card-img-top" alt="{{ url.nome }}" style="height: 300px; width: 300px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ url.nome }}</h5>
                        <a href="{{ url.url }}" target="_blank" class="btn btn-primary">Visitar Site</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h1 class="text-center" style="margin-bottom: 90px; font-size: 3rem;">Vídeos do YouTube</h1>
    <div class="row">
        {% for video in videos_youtube %}
            <div class="col-md-4 mb-4">
                <div class="card border-0" style="background-color: #F9F9F9;">
                    <img src="{{ video.imagem }}" class="card-img-top" alt="{{ video.titulo }}" style="height: 500px; width: 100%; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ video.titulo }}</h5>
                        <a href="{{ video.url }}" target="_blank" class="btn btn-primary">Assistir no YouTube</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
