{% extends 'base.html' %}

{% block title %}Política de Privacidade{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Política de Privacidade</h1>
    <div class="card">
        <div class="card-body">
            <h2>1. Coleta de Informações</h2>
            <p>Coletamos informações pessoais que você nos fornece voluntariamente ao se registrar no site, fazer uma compra ou entrar em contato conosco. As informações podem incluir seu nome, endereço de e-mail, endereço de entrega e informações de pagamento.</p>

            <h2>2. Uso das Informações</h2>
            <p>Utilizamos as informações coletadas para processar suas compras, fornecer suporte ao cliente, enviar atualizações e promoções, e melhorar nossos serviços.</p>

            <h2>3. Compartilhamento de Informações</h2>
            <p>Não compartilhamos suas informações pessoais com terceiros, exceto conforme necessário para processar suas compras, cumprir obrigações legais ou proteger nossos direitos.</p>

            <h2>4. Segurança das Informações</h2>
            <p>Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição.</p>

            <h2>5. Cookies</h2>
            <p>Utilizamos cookies para melhorar a experiência do usuário no site. Você pode optar por desativar os cookies nas configurações do seu navegador, mas isso pode afetar a funcionalidade do site.</p>

            <h2>6. Alterações na Política de Privacidade</h2>
            <p>A CG BookStore reserva-se o direito de modificar esta Política de Privacidade a qualquer momento. Quaisquer alterações serão publicadas nesta página e entrarão em vigor imediatamente após a publicação.</p>

            <h2>7. Contato</h2>
            <p>Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco através do e-mail: suporte@cgvbookstore.com.</p>
        </div>
    </div>
</div>
{% endblock %}
