{% extends 'base.html' %}

{% block title %}Termos de Uso{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Termos de Uso</h1>
    <div class="card">
        <div class="card-body">
            <h2>1. Aceitação dos Termos</h2>
            <p>Ao acessar e utilizar o site CG BookStore, você concorda em cumprir e estar vinculado aos seguintes Termos de Uso. Se você não concorda com estes termos, por favor, não utilize o site.</p>

            <h2>2. Uso do Site</h2>
            <p>Você concorda em utilizar o site apenas para fins legais e de acordo com estes Termos de Uso. Você não deve usar o site de qualquer maneira que possa danificar, desativar, sobrecarregar ou prejudicar o site ou interferir no uso de qualquer outra parte.</p>

            <h2>3. Propriedade Intelectual</h2>
            <p>Todo o conteúdo do site, incluindo textos, gráficos, logotipos, ícones, imagens, clipes de áudio, downloads digitais e compilações de dados, é de propriedade da CG BookStore ou de seus fornecedores de conteúdo e é protegido por leis de direitos autorais.</p>

            <h2>4. Limitação de Responsabilidade</h2>
            <p>A CG BookStore não será responsável por quaisquer danos diretos, indiretos, incidentais, especiais ou consequenciais resultantes do uso ou da incapacidade de usar o site.</p>

            <h2>5. Alterações nos Termos de Uso</h2>
            <p>A CG BookStore reserva-se o direito de modificar estes Termos de Uso a qualquer momento. Quaisquer alterações serão publicadas nesta página e entrarão em vigor imediatamente após a publicação.</p>
        </div>
    </div>
</div>
{% endblock %}
